{% extends 'jqm/simple.html' %}
{% block title %} Mis Contactos {% endblock %}
{% block content %}
<ul data-role="listview">
{% for contacto in contactos.all %}
    <li><a href="{% url contacto-ver contacto.id %}">
        <h3>{{ contacto.titulo }} {{ contacto }}</h3>
        <p>
            <strong>Fecha de Nacimiento:</strong> {{ contacto.nacimiento|date:"d/m/Y" }}
            <strong>Sitio Web:</strong> {{ contacto.web }}
            <strong>Ciudad:</strong> {{ contacto.ciudad }}
            <strong>Cuentas:</strong> {% for cuenta in contacto.cuentas.all %} {{ cuenta }} {% endfor %}
        <p>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}
{% block navmenu %}
<li><a href="{% url contacto-agregar %}">Agregar Contacto</a></li>
{% endblock %}
