{% extends 'jqm/simple.html' %}
{% block title %}Mi Perfil{% endblock %}
{% block content %}
  <ul data-role="listview">
    <li><strong>Nombre de usuario:</strong> {{ user }}</li>
    <li><strong>Telefono:</strong> {{ user.profile.telefono }}</li>
    <li><strong>Skype:</strong> {{ user.profile.skype }}</li>
    <li>
      {% if user.profile.zona == None %}
      Actualmente usted ha especificado la zona en la que efectuar&aacute;
      sus ventas. Registrar su Zona le permitiendo agregar los Hospitales
      que se encuentran en la regi&oacute;n para que pueda tener una
      visi&oacute;n m&aacute;s clara de las oportunidades de negocio en su Zona.
      {% endif %}
      <div data-role="collapsible" data-collapsed="false">
        <h3>Mi Zona: {{ user.profile.zona }}</h3>
        <ul>
          <li><strong>Cantidad de Hospitales:</strong> {{ user.profile.zona.hospitales.count }}</li>
        </ul>
        <ul data-role="listview">
        {% for hospital in user.profile.zona.hospitales.all %}
          <li><a href="{% url hospital hospital.id %}">{{ hospital }}</a></li>
        {% endfor %}
        {% if user.profile.zona != None %}
          <li><a href="{% url hospital-agregar user.profile.zona.id %}" data-theme="b">Agregar Hospital a {{ user.profile.zona }}</a></li>
        {% endif %}
        </ul>
      </div>
    </li>
    <a href="{% url profile-editar  %}" data-role="button">Editar Perfil</a>
    {% if not user.profile.configurado %}
    <p>
    	Una vez haya terminado de llenar los Hospitales de su Zona de ventas, utilice el siguiente
    	enlace para quitar el boton de Configurar de la pantalla de inicio.
    </p>
    <a href="{% url profile-configurar %}" data-role="button" data-theme="d">Terminar Configuraci&oacute;n</a>
    {% endif %}
  </ul>
{% endblock %}

{% block navmenu %}
{% endblock %}
