{% extends "jqm/simple.html" %}
{% block title %}Medicci - Inicio{% endblock %}
{% block content %}
{% if user.is_anonymous %}
    <p>Bienvenido!</p>
    <a data-role="button" href="{% url login %}">Iniciar Sesi&oacute;n</a>
{% else %}
    <h2>Bienvenido {{ user.get_full_name }}</h2>
    {{ user.profile.skype }}
    {% if not user.profile.configurado %}
    <a href="{% url profile %}" data-role="button">Configurar</a>
    {% endif %}
    <div data-role="collapsible">
      <h3>Citas Agendadas en los pr&oacute;ximos d&iacute;as</h3>
      <ul data-role="listview">
      {% for cita in citas.all %}
        <li>
          <a href="{% url cita-ver cita.id %}">
         <h4>{{ cita.contacto }}</h4>
          <p>{{ cita.fecha_y_hora }}</p>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
{% endif %}
{% endblock %}

{% block navmenu %}
<li><a href="{% url calendario year month %}">Calendario</a></li>
{% endblock %}
