{% extends 'jqm/simple.html' %}
{% block title %}{{ hospital }}{% endblock %}
{% block content %}
  <ul data-role="listview">
    <li><strong>N&uacute;mero de Tel&eacute;fono:</strong> {{ hospital.telefono }}</li>
    <li><strong>Direcci&oacute;n:</strong> {{ hospital.direccion }}</li>
    <li><a href="{% url hospital-editar hospital.id %}">Editar Informaci&oacute;n B&aacute;sica</a></li>
    <li>
    	<div data-role="collapsible">
	  	<h3>Administraci&oacute;n</h3>
	  	<ul data-role="listview">
		    <li>
		    	{% if hospital.administracion.propietario == None %}
		    	<a href="{% url propietario-agregar hospital.id %}">Agregar Propietario</a>
		    	{% else %}
		    	<a href="{% url contacto-ver hospital.administracion.propietario.id %}">
		    	Propietario: {{ hospital.administracion.propietario }}
		    	</a>
		    	{% endif %}
		    </li>
		    <li>
		    	{% if hospital.administracion.administrador == None %}
		    	<a href="{% url administrador-agregar hospital.id %}">Agregar Administrador</a>
		    	{% else %}
		    	<a href="{% url contacto-ver hospital.administracion.administrador.id %}">
		    	Administrador: {{ hospital.administracion.administrador }}
		    	</a>
		    	{% endif %}
		    </li>
		    <li>
		    	{% if hospital.administracion.jefe_de_compras == None %}
		    	<a href="{% url compras-agregar hospital.id %}">Agregar Jefe de Compras</a>
		    	{% else %}
		    	<a href="{% url contacto-ver hospital.administracion.jefe_de_compras.id %}">
		    	Jefe de Compras: {{ hospital.administracion.jefe_de_compras }}
		    	</a>
		    	{% endif %}
		    </li>
		    <li>
		    	<h4>Socios:</h4>
		    	<ul>
		    	{% for socio in hospital.administracion.socios.all %}
		    	<li><a href="{% url contacto-ver socio.id %}">{{ socio }}</a></li>
		    	{% endfor %}
		    	<li><a href="{% url agregar-socio hospital.id %}">Agregar Socio</a></li>
		    	</ul>
		    </li>
	  	</ul>
	  	</div>
    </li>
    <li>
		<div data-role="collapsible">
	  	<h3>Hospitalizaci&oacute;n</h3>
	  	<ul data-role="listview">
		  	<li>Posee Hospitalizacion: {{ hospital.hospitalizacion.posee_hospitalizacion|yesno }}</li>
		  	<li>
                {% if hospital.hospitalizacion.director_medico == None %}
                <a href="{% url director-medico-agregar hospital.id %}">Agregar Director M&eacute;dico</a>
                {% else %}
                <a href="{% url contacto-ver hospital.hospitalizacion.director_medico.id %}">
                Director M&eacute;dico: {{ hospital.hospitalizacion.director_medico }}
                </a>
                {% endif %}
            </li>
            <li>
                {% if hospital.hospitalizacion.hospitalizador == None %}
                <a href="{% url hospitalizador-agregar hospital.id %}">Agregar Encargado Hospitalizaci&oacute;n</a>
                {% else %}
                <a href="{% url contacto-ver hospital.hospitalizacion.hospitalizador.id %}">
                Director M&eacute;dico: {{ hospital.hospitalizacion.hospitalizador }}
                </a>
                {% endif %}
            </li>
		  	<li>Posee {{ hospital.hospitalizacion.cuantas_habitaciones_posee }} Habitaciones</li>
		  	<li>Posee {{ hospital.hospitalizacion.cuantas_habitaciones_suite_posee }} Suites</li>
		  	<li>Posee {{ hospital.hospitalizacion.cuantas_habitaciones_dobles_posee }} Habitaciones Dobles</li>
		  	<li>Posee {{ hospital.hospitalizacion.cuantas_habitaciones_sencillas_posee }} Habitaciones Sencillas</li>
		  	<li><a href="{% url hospitalizacion-editar hospital.id %}">Editar Hospitalizaci&oacute;n</a></li>
	  	</ul>
	  	</div>
    </li>
    <li>
    	<div data-role="collapsible">
		  <h3>Quir&oacute;fano</h3>
		  <ul data-role="listview">
		  	<li>Posee Quir&oacute;fano: {{ hospital.quirofano.posee_quirofano|yesno }}</li>
		    <li>
		    	{% if hospital.quirofano.jefe == None %}
		    	<a href="{% url jefe-quirofano-agregar hospital.id %}">Agregar Jefe de Quir&oacute;fano</a>
		    	{% else %}
		    	<a href="{% url contacto-ver hospital.quirofano.jefe.id %}">
		    	Jefe: {{ hospital.quirofano.jefe }}
		    	</a>
		    	{% endif %}
		    </li>
            <li>
                {% if hospital.quirofano.secretaria == None %}
                <a href="{% url secretaria-quirofano-agregar hospital.id %}">Agregar Secretaria de Quir&oacute;fano</a>
                {% else %}
                <a href="{% url contacto-ver hospital.quirofano.secretaria.id %}">
                Secretaria: {{ hospital.quirofano.secretaria }}
                </a>
                {% endif %}
            </li>
            <li>
                {% if hospital.quirofano.licenciado == None %}
                <a href="{% url licenciado-quirofano-agregar hospital.id %}">Agregar Licenciado de Quir&oacute;fano</a>
                {% else %}
                <a href="{% url contacto-ver hospital.quirofano.secretaria.id %}">
                Licenciado: {{ hospital.quirofano.secretaria }}
                </a>
                {% endif %}
            </li>
            <li>
                <h4>Instrumentistas:</h4>
                <ul>
                {% for instrumentista in hospital.quirofano.instrumentistas.all %}
                <li><a href="{% url contacto-ver instrumentista.id %}">{{ instrumentista }}</a></li>
                {% endfor %}
                <li><a href="{% url instrumentista-quirofano-agregar hospital.id %}">Agregar Instrumentista</a></li>
                </ul>
            </li>
            <li>
                <h4>Cirujanos:</h4>
                <ul data-role="listview">
                {% for cirujano in hospital.quirofano.cirujanos.all %}
                <li><a href="{% url contacto-ver cirujano.id %}">{{ cirujano }}</a></li>
                {% endfor %}
                <li><a href="{% url cirujano-quirofano-agregar hospital.id %}">Agregar Cirujano</a></li>
                </ul>
            </li>
		    <li>N&uacute;mero de Quir&oacute;fanos: {{ hospital.quirofano.numero_de_quirofanos }}</li>
		    <li>N&uacute;mero de Salas de Parto: {{ hospital.quirofano.salas_de_parto }}</li>
		    <li><a href="{% url quirofano-editar hospital.id %}">Editar Quir&oacute;fano</a></li>
		  </ul>
		</div>
    </li>
    <li>
	  <h3>Centro de Im&aacute;genes</h3>
	  <ul data-role="listview">
      <li>
            {% if hospital.centro_imagenes.jefe == None %}
            <a href="{% url jefe-imagenes-agregar hospital.id %}">Agregar Jefe del Centro</a>
            {% else %}
            <a href="{% url contacto-ver hospital.centro_de_imagenes.jefe.id %}">
            Jefe: {{ hospital.centro_de_imagenes.jefe }}
            </a>
            {% endif %}
        </li>
        <li>
            {% if hospital.centro_de_imagenes.secretaria == None %}
            <a href="{% url secretaria-imagenes-agregar hospital.id %}">Agregar Secretaria</a>
            {% else %}
            <a href="{% url contacto-ver hospital.centro_de_imagenes.secretaria.id %}">
            Jefe: {{ hospital.centro_de_imagenes.secretaria }}
            </a>
            {% endif %}
        </li>
        <li>
            <h4>T&eacute;cnicos:</h4>
            <ul>
            {% for tecnico in hospital.centro_de_imagenes.tecnicos.all %}
            <li><a href="{% url contacto-ver tecnico.id %}">{{ tecnico }}</a></li>
            {% endfor %}
            <li><a href="{% url tecnico-imagenes-agregar hospital.id %}">Agregar T&eacute;cnico</a></li>
            </ul>
        </li>
        <li>
            <h4>Radi&oacute;logos:</h4>
            <ul>
            {% for radiologo in hospital.centro_de_imagenes.radiologos.all %}
            <li><a href="{% url contacto-ver radiologo.id %}">{{ radiologo }}</a></li>
            {% endfor %}
            <li><a href="{% url radiologo-agregar hospital.id %}">Agregar Radi&oacute;logo</a></li>
            </ul>
        </li>
	  	<li>Cantidad de Equipos: {{ hospital.centro_de_imagenes.cantidad_de_equipos }}</li>
	  	<li>
		  	<div data-role="collapsible" data-collapsed="false">
		  	<h4>Tomograf&iacute;a</h4>
		  	<ul>
			  	<li>Posee Tomografo: {{ hospital.centro_de_imagenes.tomografia.posee_tomografo|yesno }}</li>
			  	<li>Marca del Tomografo: {{ hospital.centro_de_imagenes.tomografia.marca_tomografo }}</li>
			  	<li>Piensa Adquirir Tomografo: {{ hospital.centro_de_imagenes.tomografia.piensa_aquirir_tomografo }}</li>
                <li><a href="{% url tomografia-editar hospital.id %}">Editar Tomograf&iacute;a</a></li>
		  	</ul>
		  	</div>
	  	</li>
	  	<li>
		  	<div data-role="collapsible" data-collapsed="false">
		  	<h4>Resonancia Magn&eacute;tica</h4>
		  	<ul>
			  	<li>Posee Resonancia Magn&eacute;tica: {{ hospital.centro_de_imagenes.resonancia.posee_resonancia_magnetica|yesno }}</li>
			  	<li>Piensa Adquirir Resonancia Magn&eacute;tica:
			  		{{ hospital.centro_de_imagenes.resonancia.piensa_aquirir_resonancia }}
			  	</li>
                <li><a href="{% url resonancia-editar hospital.id %}">Editar Resonanc&iacute;a</a></li>
		  	</ul>
		  	</div>
	  	</li>
	  	<li>
		  	<div data-role="collapsible" data-collapsed="false">
		  	<h4>Fluoroscopia</h4>
		  	<ul>
			  	<li>Posee Fluoroscopio: {{ hospital.centro_de_imagenes.fluoroscopia.posee_fluoroscopio|yesno }}</li>
			  	<li>Piensa Adquirir Fluoroscopio:
			  		{{ hospital.centro_de_imagenes.fluoroscopia.piensa_aquirir_fluoroscopio }}
			  	</li>
                <li><a href="{% url fluoroscopia-editar hospital.id %}">Editar Fluoroscop&iacute;a</a></li>
		  	</ul>
		  	</div>
	  	</li>
	  	<li>
		  	<div data-role="collapsible" data-collapsed="false">
		  	<h4>Densitometr&iacute;a</h4>
		  	<ul>
			  	<li>Posee Densit&oacute;metro: {{ hospital.centro_de_imagenes.densitometria.posee_densitometro|yesno }}</li>
			  	<li>Tipo de Densit&oacute;metro: {{ hospital.centro_de_imagenes.densitometria.get_tipo_densitometro_display }}</li>
			  	<li>Piensa Adquirir Densit&oacute;metro:
			  		{{ hospital.centro_de_imagenes.densitometria.piensa_aquirir_densitometro }}
			  	</li>
                <li><a href="{% url densitometria-editar hospital.id %}">Editar Densitometr&iacute;a</a></li>
		  	</ul>
		  	</div>
	  	</li>
	  	<li>
		  	<div data-role="collapsible" data-collapsed="false">
		  	<h4>Mamograf&iacute;a</h4>
		  	<ul>
			  	<li>Posee Mamografo: {{ hospital.centro_de_imagenes.mamografia.posee_mamografo|yesno }}</li>
			  	<li>Tipo de Mamografo: {{ hospital.centro_de_imagenes.mamografia.get_tipo_mamografo_display }}</li>
			  	<li>Piensa Adquirir Mamografo:
			  		{{ hospital.centro_de_imagenes.mamografia.piensa_aquirir_mamografo }}
			  	</li>
                <li><a href="{% url mamografia-editar hospital.id %}">Editar Mamograf&iacute;a</a></li>
		  	</ul>
		  	</div>
	  	</li>
	  	<li>
		  	<div data-role="collapsible" data-collapsed="false">
		  	<h4>Ecograf&iacute;a</h4>
		  	<ul>
			  	<li>Posee Ultrasonido: {{ hospital.centro_de_imagenes.ecografia.posee_ultrasonido|yesno }}</li>
			  	<li>Alg&uacute;n Ultrasonido es 4D: {{ hospital.centro_de_imagenes.ecografia.algun_ultrasonido_4D|yesno }}</li>
			  	<li>Piensa Adquirir Ultrasonido:
			  		{{ hospital.centro_de_imagenes.ecografia.piensa_aquirir_ultrasonido }}
			  	</li>
			  	<li><a href="{% url ecografia-editar hospital.id %}">Editar Ecograf&iacute;a</a></li>
		  	</ul>
		  	</div>
	  	</li>
	    <li><a href="{% url imagenes-editar hospital.id %}">Editar Centro de Im&aacute;genes</a></li>
	  </ul>
    </li>
  </ul>
{% endblock %}

{% block navmenu %}
{% endblock %}
